html, body{
    height: 100%;
    margin: 0px;
    padding: 0px;
}

body{
    background-color:lightgray
}

#font{
    font-family: Arial;
}
#gamePanel{
    position:absolute;
    width: 1300px;
    height: 3100px;
    margin-top: 60px;
    border-color: gray;
    border-style: solid;
    border-width: 5px;
    /* background-image:url('img.jpg'); */
    /* background-image:url('img111.jpg'); */
    background-repeat:no-repeat;
    background-position:center center;
    background-size:cover;
}

#ichi{
    padding-top: 3250px;
}

iframe{
    width: 1500px;
}


.card{
    float:left;
    width:300px;
    height:300px;
    border-color:black;
    border-radius:12px;
    border-style:solid;
    border-width:5px;
    text-align:center;
    vertical-align:middle;
    line-height:90px;
    font-size:xx-large;
}

.back{
    background-color:rgba(215, 225, 248, 0.7);
}

.face{
    background-color:rgba(64, 224, 208, 0.7);
}

.matched{
    background-color:transparent;
    border-color:transparent;
}


#header1{
    position: fixed;
    border: solid;
    border-width: 5px;
    margin-top: 10px;
    width: 650px;
    height: 60px;
    margin-left: 200px;
    background-color: lightskyblue;
    z-index: 98;
}

#header2{
    position: fixed;
    border: solid;
    border-width: 5px;
    margin-top: 10px;
    width: 430px;
    height: 60px;
    margin-left: 870px;
    background-color:wheat;
    z-index: 98;
}

#controlPanel{
    position:absolute;
    top:35px;
    width: 150px;
    text-align: right;
}

#displayPanel{
    position: absolute;
    left: 240px;
    top:10px;
    width: 160px;
    font-size: large;
}

#levelshow{
    position: absolute; 
    top:15px;
    left:10px;
    font-size: 30px;
}

#level{
    position: absolute; 
    top:15px;
    left:180px;
    font-size: 30px;
}

#up{
    position: absolute; 
    top:15px;
    left:230px;
    font-size: 30px;
}

#genzai{
    position: absolute; 
    top:15px;
    left:360px;
    font-size: 30px;
}

#nokorilevel{
    position: absolute; 
    top:15px;
    left:385px;
    font-size: 30px;
}

#nokori{
    position: absolute; 
    top:10px;
    left:450px;
    font-size: 30px;
}

#try{
    position: absolute; 
    top:15px;
    left:600px;
    font-size: 30px;
}

.score{
    float:left;
    width:80px;
    opacity: 0;
}

#time1{
    position: absolute; 
    top:15px;
    left:50px;
    font-size: 30px;
}

#time2{
    position: absolute; 
    top:15px;
    left:140px;
    font-size: 30px;
}

#count1{
    position: absolute; 
    top:15px;
    left:230px;
    font-size: 30px;
}

#count2{
    position: absolute; 
    top:15px;
    left:330px;
    font-size: 30px;
}
.clear{
    clear:left;
}

button{
    font-size:large;
}

input[type=file]{
    visibility:hidden;
    width:1px;
}

/* #finish{
    position:absolute;
    top:15px;
    width: 150px;
    text-align: right;
} */
